@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Italiana&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(197, 33, 33);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    border: 3px solid rgb(197, 33, 33);
}

.cabecalho > h1 {
    font-family: 'italiana', sans-serif;
    font-style: italic;
    font-size: 2rem;
}

.links {
    justify-content: space-between;
}

.links > a {
    text-decoration: none;
    font-family: 'Italiana', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin-right: 10px;
    padding-right: 10px;
    color: black;
}

.main {
    display: flex;
    height: 100%;
    background-color: bisque;
}

.esquerda {
    flex: 1;
    height: 100%;
    position: relative;
    max-width: 100%;
}

.esquerda > img {
    max-width: 100%;
    height: auto;
}

.direita {
    background-color: bisque;
    flex: 1;
    height: 100%;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.info > span {
    margin-top: 20px;
    font-family: "Italiana", sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.info > p {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 1.59rem;
    margin-left: 21px;
    margin-right: 21px;
}

.pratos-principais {
    max-width: 1200px;
    margin: 0 auto;
    color: whitesmoke;
}

.pratos-principais > h1 {
    font-family: 'Italiana', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.pratos-principais > p {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.pratos-principais > img {
    height: auto;
    max-width: 50%;
    vertical-align: middle;
}

.pratos {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pratos-item {
    display: flex;
    padding: 1rem;
}

.prato {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.prato-conteudo {
    padding: 1rem;
}

.prato-titulo {
    font-family: 'Italiana', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.prato-texto {
    font-family: 'Cormorant Garamond' ,sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}